<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <%= render 'shared/head_meta' %>
    <%= render 'shared/head_stylesheets' %>
    <%= render 'shared/head_fonts' %>
    <%= render 'shared/head_scripts' %>
  </head>

  <body class="h-full" data-controller="application">
    <%= render 'layouts/dataflow_pro_layout' %>
  </body>
</html>